ASPNetApplicationSample/Connected Services/WebServiceSample/WebServiceSample.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Add">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="i" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="j" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Substraction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="k" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="l" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubstractionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SubstractionResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddSoapIn">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="AddSoapOut">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="SubstractionSoapIn">
    <wsdl:part name="parameters" element="tns:Substraction" />
  </wsdl:message>
  <wsdl:message name="SubstractionSoapOut">
    <wsdl:part name="parameters" element="tns:SubstractionResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSampleSoap">
    <wsdl:operation name="Add">
      <wsdl:input message="tns:AddSoapIn" />
      <wsdl:output message="tns:AddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Substraction">
      <wsdl:input message="tns:SubstractionSoapIn" />
      <wsdl:output message="tns:SubstractionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSampleSoap" type="tns:WebServiceSampleSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Substraction">
      <soap:operation soapAction="http://tempuri.org/Substraction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSampleSoap12" type="tns:WebServiceSampleSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://tempuri.org/Add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Substraction">
      <soap12:operation soapAction="http://tempuri.org/Substraction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceSample">
    <wsdl:port name="WebServiceSampleSoap" binding="tns:WebServiceSampleSoap">
      <soap:address location="http://localhost:54801/WebServiceSample.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSampleSoap12" binding="tns:WebServiceSampleSoap12">
      <soap12:address location="http://localhost:54801/WebServiceSample.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>